.button {
    width: 100%;
}

.label {
    font-family: 'Roboto';
    font-weight: 500;
}

.gap {
    margin-top: 0.8rem;
}

.intro, .danger {
    --font-weight: 300;
    font-family: 'Comfortaa';
    font-weight: var(--font-weight);
}

.danger {
    color: var(--bs-danger);
    --font-weight: 900;
    font-family: 'Roboto';
}