:root {
  --icon-size: 8.5rem;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(179, 83, 9);
}

.spin {
  width: var(--icon-size);
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}